{% extends 'bases/base_admin.html' %}

{% block title %} Project Manager {% endblock %}

{% block scripts %}
    {%load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <form method="post" action="" class="class_container_form">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        {% for field in form %}
            <div class="row">
                <div class="input-field col s12">
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    
                    {{ field }}
                    
                    <label class="{% for class in field.label_classes %} {{ class }} {% endfor %}" for="{{ field.name }}"> {{ field.label }} </label>
                </div>
            </div>
        {% endfor %}
        <input class="btn #9e9e9e grey" type="submit" value="ingreso">
    </form>
{% endblock %}

{% block footer %}
    <footer>
        <a href="#">Olvidé mi contraseña</a>
        <p> Crea una nueva cuenta <a href="{% url 'client:create' %}">aquí</a></p>
    </footer>
{% endblock %}

